FitSwatches
{
	height: 30px;
	width: 100%;
	cursor: pointer;
	position: relative;
	padding: 0 2px;

	.swatches
	{
		flex-direction: row;
		flex-grow: 1;
		border-radius: 6px;
		overflow: hidden;
	}

	.swatch
	{
		flex-grow: 1;
		height: 100%;
	}

	.thumb
	{
		position: absolute;
		top: -3px;
		bottom: -3px;
		width: 6px;
		margin-left: -1px;
		border-radius: 3px;
		background-color: white;
		border: 1px solid rgba( 0, 0, 0, 0.6 );
		z-index: 10;
	}
}
